@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    min-height: 150px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

@media (max-width: 600px) {
    #header {
        flex-wrap: wrap;
    }
}

.logo {
    width: 60vw;
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.logo > img {
    width: 100%;
    max-width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 650px) {
    .logo > img {
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px) {
    nav > ul {
        flex-direction: column;
    }
}

#our-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 520px;
    margin-top: 90px;
}

@media (max-width: 650px) {
    #our-mission {
        margin-top: 200px;
    }
}

#our-mission > .icon {
    font-size: 30px;
    margin-bottom: 5px;
}

#our-mission > iframe {
    max-width: 560px;
    width: 100%;
    padding-top: 40px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
}

#catalog .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 20vw;
    color: #343a40;
}

@media (max-width: 650px) {
    #catalog .icon {
        display: none;
    }
}

#catalog .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 650px) {
    #catalog .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

#contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 10px;
}

#contact-us > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#contact-us input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#contact-us input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #343a40;
    color: #eee;
}

#contact-us input[type="submit"]:hover {
    background-color: rgb(46, 49, 49);
    transition: background-color 1s;
}

.btn {
    height: 40px;
    font-size: 1em;
    cursor: pointer;
}